@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <!-- [About Us] -->
                <div class="well">
                    <h4>About Us</h4>
                    <p>            
                        League of Sitecore is a fan-based website and is a nonprofit organization.
                        Here you can see stories of each champion.
                    </p>
                </div>
                <!-- [/About Us] -->
            </div>
            <div class="col-md-4">
                <!-- [Meta Navigation] -->
                <ul class="nav nav-stacked">
                    <li>
                        <a href="Content-page.html" title="Legal Notice">Legal Notice</a>
                    </li>
                    <li>
                        <a href="Content-page.html" title="Privacy Policy">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="Content-page.html" title="Terms and Conditions">Terms and Conditions</a>
                    </li>
                </ul>
                <!-- [/Meta Navigation] -->
            </div>
        </div>
    </div>
    <div class="footer-bottom text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- [Copyright] -->
                    <small class="copyright">
                        <span>Copyright &copy; 2018 Version 1.0.0.0</span>
                    </small>
                    <!-- [/Copyright] -->
                </div>
            </div>
        </div>
    </div>
</footer>