<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <contentSearch>
      <indexConfigurations>
        <defaultEventsIndexConfiguration type="Sitecore.ContentSearch.SolrProvider.SolrIndexConfiguration, Sitecore.ContentSearch.SolrProvider">
          <documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">
            <indexAllFields>false</indexAllFields>
            <include hint="list:AddIncludedTemplate">
              <ChampionDetails>{66C2DF65-A818-444E-938F-90F24D790286}</ChampionDetails>
              <!--Include templates in the index-->

            </include>
            <include hint="list:AddIncludedField">
              <contentbody>{655E2974-2CDF-426B-B677-B5F39F5CD0C1}</contentbody>
              <contentheading>{EE0BA422-565F-4F80-A4EC-6142EFDEBA22}</contentheading>
              <championname>{2A71E8D9-2E93-43AF-A822-E556286D0323}</championname>
              <championlore>{888340BE-EDA3-4CCC-8A95-2FA467075D23}</championlore>
              <championrole>{307BDEFE-74C7-4DAD-B3D2-45046A30EE66}</championrole>
              <championrace>{913ED1AE-4717-4AA8-8DC7-67C9A388D483}</championrace>
              <storyinfo>{CBE9B7C4-9DED-40B9-A08C-A27DD080DF8D}</storyinfo>
              <contentintro>{9DCD34B6-3B83-4C2C-95F4-5C523DABF0EF}</contentintro>
              <!--Include fields in the index-->

            </include>
            <fields hint="raw:AddComputedIndexField">
              <field fieldName="urllink">TAC.Utils.Search.UrlComputedField, TAC.Utils</field>
            </fields>
          </documentOptions>
          <initializeOnAdd>false</initializeOnAdd>
          <fieldMap type="Sitecore.ContentSearch.SolrProvider.SolrFieldMap, Sitecore.ContentSearch.SolrProvider">
            <!--<typeMatches hint="raw:AddTypeMatch" ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/fieldMap/typeMatches/*"/>-->
            <typeMatches hint="raw:AddTypeMatch">
              <typeMatch typeName="text" type="System.String" fieldNameFormat="{0}_t" cultureFormat="_{1}" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
            </typeMatches>
            <fieldNames hint="raw:AddFieldByFieldName">
              <!-- how fields are indexed -->
              <field fieldName="contentbody" returnType="text"/>
              <field fieldName="contentheading" returnType="text"/>
              <field fieldName="championname" returnType="text"/>
              <field fieldName="championlore" returnType="text"/>
              <field fieldName="championrole" returnType="text"/>
              <field fieldName="championrace" returnType="text"/>
              <field fieldName="storyinfo" returnType="text"/>
              <field fieldName="contentintro" returnType="text"/>
              <!-- Add your field configuration here -->

            </fieldNames>

          </fieldMap>
          <!-- **** Inherited default configuration **** -->
          <fieldReaders ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/fieldReaders" />
          <indexFieldStorageValueFormatter ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/indexFieldStorageValueFormatter" />
          <indexDocumentPropertyMapper ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/indexDocumentPropertyMapper" />
          <documentBuilderType ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/documentBuilderType" />

        </defaultEventsIndexConfiguration>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>